<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

    <a href="/"><button>返回</button></a><br />
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% else %}


    <table align="center" border="1" cellspacing="0" width="50%" >
        <tbody align="center">
        <tr>
            <td width="80px" height="50px" style="background-color:#ededed" >主诉</td>
            <td width="80px" colspan="2">{{man_complain}}</td>
        </tr>

        <tr>
            <td width="80px" height="50px" style="background-color:#ededed" >病症</td>
            <td width="80px" height="50px" style="background-color:#ededed" >得病人数</td>
            <td width="80px" height="50px" style="background-color:#ededed" >得病概率</td>

        </tr>

        {% for post in all_info %}
        <tr>
            {% for one in post %}
                {% ifequal forloop.counter 1 %}
                    <td width="80px" height="30px"><a href="/way/?text={{one}}">{{one}}</a></td>
                {% else %}
                    <td width="80px" height="30px">{{one}}</td>
                {% endifequal%}
            {% endfor %}        
        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% endif %}

</body>
</html>